*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-bar {
    background: #f8f8f8;
    max-width: 100%;
    border: 1px solid #dddddd;
    

}
.nav-bar ul {
    list-style: none;

}
.nav-bar ul li {
    display: inline-block;
 
    

}
.nav-bar ul li a{
        text-decoration: none;
        color: #726e6e;
        padding: 15px;

}
.nav-bar ul li a:hover {
    background-color: rgb(173, 113, 23);
    color: #ffffff;
}




