<!--The content below is only a placeholder and can be replaced.-->
<main>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <div class="wrapper">
    <div id="header">
      <div class="personal">
          <div id="info">
              <h2>{{ title }}</h2>
              <h4>{{ role }}</h4>
              <small class="fixed">{{ history }}</small>
          </div>
          <div id="images">
              <img src="../assets/2.jpg" class="profile-picture">
          </div>
      </div>
        
    </div>
    <div class="detailed">
        <!--  <table cellspacing="10" class="tableInfo">
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
              </tr>
        </table> -->

        <div class="personal-details">
          <div class="child1">
            
            <div class="sub">
              <small><a href="mailto:{{email}}"><strong><i class="fas fa-mail-bulk" style="font-size: 19px;"></i> {{email}}</strong></a></small>
            </div>
            <div class="sub">
                <small><a href="Tel:{{phone}}"><strong><i class="fas fa-phone-square" style="font-size: 19px"></i> {{phone}}</strong></a></small>
            </div>
            <div class="sub">
                <small><a href="{{location}}"><i class="fas fa-map-marker-alt" style='font-size:19px'></i> {{location}}</a></small>
            </div>
          </div>


          <div class="child2">
            <div class="sub">
                <small><a href="{{id}}"><i class="fas fa-user" style="font-size: 19px"></i> {{id}}</a></small>
            </div>
            <div class="sub">
                <small><a href="{{linkedIn}}"><i class="fab fa-linkedin" style="font-size: 19px;"></i> {{linkedIn}}</a></small>
            </div>
            <div class="sub">
                <small><a href="{{gender}}"><i class='fas fa-graduation-cap' style='font-size:19px'></i> Graduated at University of Venda</a></small>
            </div>
          </div>
        </div>


        
    </div>
    <div class="content">
       <div id="skills">
          <h3>Skills</h3>

        <ul>
          <li><a>Problem Solving Skills</a></li>
          <li><a>Ability to work under pressure</a></li>
          <li><a>System Development Life Cycle</a></li>
          <li><a>Unified Modelling Languages</a></li>
          <li><a>Java</a></li>
          <li><a>Php framework and Phpadmin</a></li>
          <li><a>Object Oriented Concept</a></li>
          <li><a>HTML5, CSS3, Nodejs, Javascript, AngularJs</a></li>
          <li><a>Bootstrap 4.1.7</a></li>
          <li><a>& Database Management</a></li>
        </ul>

       </div> 
       <div id="education">
          <h3>Education</h3>
          <h4>Dzata Secondary School</h4>
          <h5>Grade 12</h5>
          <p>Physical Sciences, Mathematics, Life Sciences, Geography, Tshivenda, Lo, English</p>
          <p>Status: 2 Distinction in Mathematics and Physical Sciences</p>
          <small>2014</small>

          
          <h4>University of Venda</h4>
          <h5>BSc in Computer Sciences and Information System</h5>
          <p>Software Engineering, Computer networks, Distributed Operating System, System analysis, Professional Computing, Algorithm, Database design & implementation</p>
          <p>Status: Completed</p>
          <small>2019</small>
       </div>
       
       <hr style="background-color: #dddddd">
       
       <div id="languages">
         <h3>Languages</h3>
          <div class="progress">
              
              <div class="bar" style="width:99%; height: 20px; background-color: rgb(45, 78, 45); color: white; font-weight: bold; border-radius: 3px;">Tshivenda 99%</div>
            </div>

            <div class="progress">
              
                <div class="bar" style="width:69%; height: 20px; background-color: rgb(18, 19, 124); color: white; font-weight: bold;border-radius: 3px;">English 69%</div>
              </div>

              <div class="progress">
              
                  <div class="bar" style="width:23%; height: 20px; background-color: rgb(121, 13, 13); color: white; font-weight: bold;border-radius: 3px;">isiZulu 23%</div>
                </div>
       </div>

       
      
    </div>

  </div>
  <footer>
    <p>&copy; codeTribeSoweto2019</p>
  </footer>
</main>